@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html{
    background: #ccc;
}
body{
  background: #ccc;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

strong,h1,h2, h3,h4.h5.h6{
  font-variant: 700;
  margin: 0 0 10px 0;
  padding: 0;
}

h3{
  font-size: 15px;
}

.brand{
  font-weight: 300;
  text-align: center;
  margin: 30px 0 10px 0;
}

.container{
  background: #f9f9f9;
  box-shadow: 0 5px 50px rgba(0,0,0,.1);
  margin: 20px;
  overflow: auto;
  zoom: 1;
  padding: 20px;
  border-radius: 5px;
}


.category label{
  position: relative;
  padding-left: 50px;
}

.category label:before{
  content: ".";
  text-indent: -99999px;
  position: absolute;
  left: 6px;
  top: 6px;
  height: 26px;
  width: 26px;
  border-radius: 20px;
  border: 3px solid #ccc;
}

.category label:after{
  content: ".";
  text-indent: -99999px;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}


input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
 display: block;
 margin-bottom: 2px;
 line-height: 44px;
 border-radius: 22px;
 cursor: pointer;
}
input[type=checkbox]:checked + label {
  background: rgba(0,0,0,.05);
}


input[type=checkbox]:checked + label:before {
  border-color: #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  background: #61ac00;
}

input[type=checkbox]:checked + label:after {
  background: -webkit-linear-gradient(#7dde00, #7dde00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7dde00, #7dde00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7dde00, #7dde00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7dde00, #61ac00); /* Standard syntax */
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border: 2px solid #61ac00;
}